.login-register-box {
  width: 100%;

  .login-register {
    display: block;
    width: 400px;
    margin: 50px auto;
    background-color: #edf2f4;
    border-radius: 10px;
    box-shadow: 0 3px 10px #ccc;
    border: 2px solid #ddd;

    .title {
      font-size: 30px;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      color: #2f3e46;
      border-bottom: 3px solid #ccc;
      padding: 50px;
      text-shadow: 0 2px 2px #ccc;
      transition: 0.2s;

      svg {
        font-size: 40px;
        color: #f4a261;
      }

      &:hover {
        opacity: 0.8;
      }
    }

    .form {
      padding: 50px 0;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 80%;
      margin: 0 auto;

      input {
        padding: 5px;
        height: 40px;
        width: 100%;
        border-radius: 5px;
        font-size: 16px;
        border: none;
        outline: none;
        color: #2f3e46;
        box-shadow: 0 2px 5px #ccc;

        &:disabled {
          background-color: #e5e5e5;
          cursor: not-allowed;
        }

        &::placeholder {
          color: #bbb;
          transition: 0.2s;
        }

        &:focus::placeholder {
          font-size: 0;
        }
      }

      .btn-confirm {
        height: 40px;
        margin-top: 15px;
        background-color: #f4a261;
        color: #edf2f4;
        font-weight: 700;
        font-size: 17px;
        box-shadow: 0 2px 5px #ccc;
      }
    }

    .link {
      margin-top: 35px;
      text-align: center;

      a {
        font-size: 15px;
        text-decoration: underline;
        opacity: 0.8;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
